body{
    color: red;
}
h1, h2{
    text-align: center;
}
table{
    margin: auto;
    border: 5px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
}

h1{
    color: white;
    text-decoration: underline;
}

h5{
    text-transform: uppercase;
}